body {
  background-color: #FEBE89
}

h1 {
  color: #FFFFFF;
  font-family: futura;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bolder;
}

h2 {
  font-weight: 700;
}

ul.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signup-login-form-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  margin: 10%;
  padding: 1rem;
}

.signup-login-form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.signup-login-button {
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  margin: auto;
  text-transform: uppercase;
}

.input-field {
  background-color: #ededed;
  border: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

.messages-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  margin: 10%;
  padding: 2rem;
  text-align: left;
  width: 40%;
}

.message-back-button {
  color: #077383;
  background-color: #FFFFFF;
  border: 0;
  font-size: 1.5rem;
  margin-top: -1rem;
}

.message-sender {
  color: #C25E0B;
  font-size: .8rem;
  font-weight: bold;
  margin-left: 1rem;
}

.message-body {
  background-color: #4D5656;
  border-radius: 20px;
  color: #FFFFFF;
  margin-bottom: .5rem;
  padding: .6rem;
  width: auto;
}

.message-submit-container {
  margin-top: 5%;
}

.message-input-field {
  border-color: #AAB7B8;
  border-radius: 5px;
  margin-right: .3rem;
  padding: .3rem;
  width: 87%;
}

.message-send-button {
  border-radius: 20px;
  font-size: 1.1rem;
  padding: .1rem;
  width: 7%;
  margin: auto;
}


