body {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(219,241,249,1) 100%);
}

h1 {
  color: #FFFFFF;
  font-family: futura;
  font-size: 5rem;
  font-style: italic;
  font-weight: bolder;
  margin: 1.5rem auto;

  line-height: .9;
  text-align: center;
  writing-mode: horizontal-lr;
}

.rotate {
  transform: rotate(180deg);
}

h2 {
  font-weight: 700;
}

h3 {
  color: #FFFFFF;
  font-family: futura;
  font-size: 4rem;
  font-style: italic;
  font-weight: bolder;
  /* margin: 0 auto; */
  padding-bottom: 1rem;
  line-height: .9;
  text-align: center;
  writing-mode: vertical-lr;
}

ul.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.conversations-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* registration */

.create-form-card {
  background-color: #FFFF;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  margin: 30%;
  margin-top: 3%;
  padding: 1rem;
}

.create-form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.signup-login-button {
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  margin: auto;
  text-transform: uppercase;
}

.input-field {
  background-color: #ededed;
  border: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

p.sign-up {
  color: #AAB7B8;
  font-family: futura, sans-serif;
  font-size: .9rem;
}

a.sign-up {
  color: #AAB7B8;
  text-decoration: none; 
}

a.sign-up:hover {
  color: #FF9D00; 
}

/* buttons */

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.back-button {
  background-color: #000000;
  color: #D6FF10;
  border: 0;
  font-size: 1.1rem;
  margin-top: -1rem;
}

.exit-button {
  color: #D6FF10;
  background-color: #000;
  border: 0;
  font-size: 1rem;
  margin-top: -1rem;
}

.back-button:hover {
  color: #FF9D00;  
}

.exit-button:hover {
  color: #FF9D00; 
}

.add-convo-button:hover {
  color: #FF9D00;  
}

.add-convo-button {
  background-color: #000000;
  color: #D6FF10;
  border: 0;
  font-size: 1.1rem;
  margin-top: -1rem;
}

.add-user {
  background-color: #000000;
  border: 0;
  color: #D6FF10;
  font-size: 5rem;
  font-family: futura, sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 19rem;
  vertical-align: middle;
}

.app-container {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  margin: 0 auto;
  opacity: .75;
  padding: 2rem;
  text-align: left;
  width: 30%;
}

/* profiles component  */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
  margin: 2rem;
}

.profile-container {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  margin: 1rem;
  opacity: 0.7;
  padding-top: 2rem;
  top: 50%;
  width: 20%;
  height: 20rem;
}

.profile {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.avatar {
  border-radius: 50%;
  height: auto;
  width: 7rem;
}

p.profile-username {
  color: #D6FF10;
  font-size: 2rem;
  font-family: futura, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

p.profile-createdAt {
  margin-top: -1rem;
  color: #FFFFFF;
}

p.profile-updatedAt {
  color: #FFFFFF;
  margin-bottom: 1 rem;
  margin-top: -1rem;
}

/* conversations/conversation list component  */

.users-list {
  margin-bottom: 1rem;
}

.avatar-icon {
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 11rem;
}

.conversation {
  border-bottom: .1rem solid #EAEAEA;
  margin-bottom: .7rem;
}

a.conversations {
  color: #FF9D00;
  font-weight: 600;
  text-decoration: none;
}

.message-preview-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .1rem;
}

.message-preview {
  color: #FFFFFF;
  margin-bottom: .1rem;
  margin-left: .4rem;
  font-size: .9rem;
}

.message-preview-date {
  color: #839192;
  font-size: .8rem;
  margin-bottom: .5rem;
  margin-left: .1rem;
  text-align: right;
}

/* messages component  */

.messages-icon {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.participants {
  color: #D6FF10;
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.message-sender {
  color: #FF9D00;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: .2rem;;
  margin-left: 1rem;
}

.message-body {
  background-color: #4D5656;
  border-radius: 20px;
  color: #FFFFFF;
  margin-bottom: .1rem;
  padding: .6rem;
  width: auto;
}

.message-timestamp {
  color: #AAB7B8;
  font-size: .8rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
}

.message-submit-container {
  margin-bottom: 7%;
  margin-top: 10%;
}

.message-input-field {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #AAB7B8;
  border-radius: 5px;
  margin-right: .3rem;
  padding: .4rem;
  width: 87%;
}

.message-send-button {
  background-color: #000000;
  border-radius: 20px;
  color: #D6FF10;
  font-size: 1.1rem;
  padding: .1rem;
  width: 7%;
  margin: auto;
}


